<div class="flex flex-row items-center justify-center flex-wrap p-4">
    <app-clock
        [title]="'Melbourne'"
        [timezone]="'Australia/Melbourne'"
    ></app-clock>
    <app-clock
        [title]="'Brisbane'"
        [timezone]="'Australia/Brisbane'"
    ></app-clock>
    <app-clock [title]="'Perth'" [timezone]="'Australia/Perth'"></app-clock>
    <app-clock
        [title]="'Adelaide'"
        [timezone]="'Australia/Adelaide'"
    ></app-clock>
    <app-clock [title]="'London'" [timezone]="'Europe/London'"></app-clock>
    <app-clock
        [title]="'Los Angeles'"
        [timezone]="'America/Los_Angeles'"
    ></app-clock>
    <app-clock [title]="'New York'" [timezone]="'America/New_York'"></app-clock>
</div>
<router-outlet />
